body{
    font-weight: 600;
}
.lien-he-quang-cao{
    background-color: var(--white);
    color: var(--black); 
    padding: 20px 0;
    margin-top: 10px;
}
.lien-he-quang-cao input{
    height: 40px;
}
.lien-he-quang-cao .button{
    background-color: #28a745; 
    color: var(--black); 
    width: 200px; 
    height: 40px; 
    border: none; 
    border-radius: 5px;
}
.lien-he-quang-cao .button:hover{
    box-shadow: 1px 2px 5px 2px gray;
}