/* header */
.myheader{
    height: 100px;
    z-index: 10;
    /* border-bottom: 1px solid black; */
}
.position-sticky{
    position: sticky;
    top: 0;
    /* opacity: 1; */
}
.hidden-nav{
  transform: translateY(-100px);
}
/* nav top */
.header-container{
    height: 50px;
    background-image: linear-gradient(100deg,#e22027,#bf0f15);
}
.nav-top-left{
    height: 50px;
    background: var(--black-nhat);
    transform: skewX(-50deg);
}
.nav-top-right{
    line-height: 50px;
}
.nav-top-right > span > a{
    color: #ffffff;
    text-decoration: none;   
}
.nav-top-right > span > a:hover{
    color: aqua;
}

/* nav bottom */
/* logo */
.logo{
    width: 100%;
    position: relative;
    top: -18px;
    /* color: var(--white); */
}

.navbar{
    padding: 0;
    background-color: var(--black-nhat);
}
/* menu */
.navbar-menu{
    width: 100%;
    height: 50px;
    background-color: var(--black-nhat);
}

.navbar-collapse {
    flex-grow: 0.75;
}
.navbar-nav{
    gap: 10px;
}
.navbar-nav > li{
    margin-right: 20px;
}

.navbar-nav li a{
    color: var(--black);
    /* display: block; */
    font-size: 15px;
    text-decoration: none;
    line-height: 50px;
}

.navbar-nav li a:hover{
    color: #ed5252;
    font-weight: bold;
}
.navbar-collapse{
    background-color: var(--black-nhat);
}
.navbar-menu > button{
    margin-bottom: 15px;
}

.tuyen-dung{
    display: none;
}






/* thay đổi themes trang wed  nut check box*/
.theme-switch-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    z-index: 10;
}
.theme-switch {
    height: 30px;
    width: 30px;
}
.theme-switch input {
    display:none;
}

/* <!-- cuon len dau trang themes website --> */
.len-dau-trang{
    width: 40px;
    height: 145px;
    background-color: var(--black-nhat);
    border-radius: 30px;
    /* display: flex; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: fixed;
    top: 350px;
    right: 20px;
    display: flex;
    flex-direction: column;
    /* bottom: 0; */
} 
.len-dau-trang img{
    width: 30px;
    height: 30px;
    /* justify-content: center; */
    align-items: center;
    /* align-content: center; */
    margin: 10px auto;
    display: block;
}

.moon{
    display: none;
}
.note-moon{
    display: none;
    position: absolute;
    left: -210px;
    top: 8px;
    width: 200px;
    font-size: 14px;
    border-radius: 8px 50% 50% 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: var(--black);
    background-color: var(--black-nhat);
    padding: 5px;
    z-index: 2;
}

.theme-switch-wrapper:hover .note-moon{
    display: block;
}
.note-sun{
    display: none;
    position: absolute;
    left: -210px;
    top: 8px;
    width: 200px;
    font-size: 14px;
    border-radius: 8px 50% 50% 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: var(--black);
    background-color: var(--black-nhat);
    padding: 5px;
    z-index: 1;
}

.theme-switch-wrapper:hover .note-sun{
    display: block;
}

.note-go-top{
    display: none;
    position: absolute;
    left: -210px;
    top: 110px;
    width: 200px;
    font-size: 14px;
    border-radius: 8px 50% 50% 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: var(--black-nhat);
    padding: 5px;
}

.go-top:hover .note-go-top{
    display: block;
}