
.body{
    margin: 0;
    padding: 0;
    font-weight: 600;
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--black);
}
/* content */
/* swiper */
.myslide{
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: var(--gray);
    
}
.myslide-update-croll{
    padding-top: 20px;
    padding-bottom: 40px;
}
/* left */
.slidesticky{
    width: 90%;
    padding-top: 40px;
}

.name-new-list-new{
    background-image:url(https://static1.yan.vn/2019/theme/images/icon-start.svg);
    background-position: 0% 50%;
    background-size:30px;
    height: 50px;
    text-transform: uppercase;
    background-repeat: no-repeat;
}

.name-new-list-new > span{
    font-weight: 700;
    line-height: 50px;
    font-size: 24px;
    padding-left: 35px;
}

.item-content-new-left{
    padding-right: 40px;
}
.item-img-new-left{
    margin-bottom: 20px;
}
.item-img-new-left img{
    border-radius: 8px;
}
.item-content-new-left .name-item-content-new-left a{
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
}
.item-content-new-left .name-item-content-new-left a:hover{
    color: #dd3333;
}

.item-content-new-left .my-cdm{
    font-size: 14px;
    color: #888!important;
}

.my-cdm .card__ItemCategory{
    text-decoration: none;
    font-size: 14px!important;
    color: red !important;
}
.item-content-new-left .description{
    font-size: 14px;
    text-align: justify;
    color: #888!important;
}

#button-new{
    width: 25%;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    background-color: var(--white);
}
#button-new:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.active-new{
    display: none;
}


/* right */
.name-new-list-fair{
    background-image:url(https://static1.yan.vn/2019/theme/images/logo-bestie.svg);
    background-position: 0% 50%;
    background-size: 30px;
    background-repeat: no-repeat;
    height: 50px;
}
.name-new-list-fair > span{
    line-height: 50px;
    font-weight: 700;
    font-size: 24px;
    padding-left: 35px;
}

.item-img-new-right img{
    border-radius: 8px;
    margin-bottom: 20px;
}
.new-content-right{
    margin-bottom: 20px;
}

.new-content-right > a{
    color: var(--black);
    text-decoration: none;
}
.new-content-right > a:hover{
    color: #dd3333;
}   

.subscribe{
    margin-bottom: 20px;
}
.subscribe img{
    width: 90%;
}

/* cộng đồng nổi bật */

.item-cong-dong-img{
    margin-bottom: 20px;
    flex-basis: 33.3333%;
    line-height:20px;
}

.item-cong-dong-content{
    font-size: 16px;
}

.yan-member-tilte{
    color: var(--black);
    text-transform: uppercase;  
}

.yan-member-tilte:hover{
    color: #dd3333;
}
.item-cong-dong-content{
    width: 60%;
}
.item-cong-dong-content a{
    text-decoration: none;
    color: var(--black);
}
#button-cong-dong{
    width: 60%;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    background-color: var(--white);
}
#button-cong-dong:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.active-cong-dong{
    display: none;
}

/* lazy-zone */
.lazy-zone{
    width: 85%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.content1-lazy-zone{
    margin-bottom: 20px;
}
.content1-lazy-zone a{
    color: var(--black);
    font-size: 18px;
    text-decoration: none;
}
.content1-lazy-zone a:hover{
    color: #dd3333;
}

.content1-lazy-zone img{
    border-radius: 8px;
}

.content2-lazy-zone a{
    color: var(--black);
    font-size: 14px;
    text-decoration: none;
}
.card-lazy-zone{
    margin-bottom: 20px;
}
.content2-lazy-zone a:hover{
    color: #dd3333;
}

.content2-lazy-zone img{
    border-radius: 8px;
    /* margin-bottom: 30px; */
}


/* css fixed bạn thân phái đẹp khi scroll chuột đến vị trí nhất định */
.fixed-fair{
    position: fixed;
    top: 20px;
    margin: 0 40px;
    /* z-index: 10;    */
}

